[submodule "tools/test-scripts"]
	path = tools/test-scripts
	url = https://github.com/TheBlueMatt/test-scripts
[submodule "tools/compare-tool"]
	path = tools/compare-tool
	url = https://github.com/theuni/bitcoind-comparisontool
